
.pt_vmegamenu {
    font-size: 14px;
    margin: 0 0 20px;
    padding: 15px 0;
    z-index: 1000;
}
.pt_vmegamenu div.pt_ver_menu {
    padding: 0;
    position: relative;
    width: 195px;
}
.pt_vmegamenu div.popup {
    padding: 10px;
}
.pt_vmegamenu #pt_ver_menu_link ul li a.act, .pt_vmegamenu #pt_ver_menu_link ul li a:hover, .pt_vmegamenu div.pt_ver_menu.act .parentMenu a {
    background-color: #FFC0CB;
}
.pt_vmegamenu div.pt_ver_menu.active {
    background-color: #FFC0CB;
}
.pt_vmegamenu div.popup {
    background-color: #FFFFFF;
    border: 5px solid #FFC0CB;
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    z-index: 3000;
}
.pt_vmegamenu div.pt_ver_menu .parentMenu {
    width: 195px;
}
.pt_vmegamenu div.pt_ver_menu .parentMenu a, .pt_vmegamenu div.pt_ver_menu .parentMenu span.block-title {
    background: none repeat scroll 0 0 #F8F7F5;
    display: block;
    height: 21px;
    line-height: 21px;
    padding: 5px 10px 6px;
    text-decoration: none;
    width: 175px;
}
.pt_vmegamenu div.pt_ver_menu .parentMenu span.block-title:hover, .pt_vmegamenu div.pt_ver_menu .parentMenu a:hover {
    
}
.pt_vmegamenu div.popup a {
    display: block;
    height: 21px;
    line-height: 21px;
    text-decoration: none;
}
.pt_vmegamenu .itemMenu h4.level1, .pt_vmegamenu .itemMenu a.level1 {
    color: #555555;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.pt_vmegamenu .itemMenu h4.level1, .pt_vmegamenu .itemSubMenu h4.level2 span {
    color: #897725;
}
.pt_vmegamenu .itemSubMenu h4.level2, .pt_vmegamenu .itemSubMenu a.level2, .pt_vmegamenu .itemSubMenu h4.level3, .pt_vmegamenu .itemSubMenu a.level3, .pt_vmegamenu .itemMenu a.level1.nochild {
    background: url("../images/black-dot.jpg") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #555555;
    font-size: 14px;
    font-weight: normal;
    padding-left: 8px;
    text-transform: none;
}
.pt_vmegamenu .itemSubMenu a.level2:hover, .pt_vmegamenu .itemMenu a.level1.nochild:hover {
    color: #A52A2A;
}
.pt_vmegamenu div.popup a.actParent {
    color: #4D4D4D;
}
.pt_vmegamenu div.popup a.act {
    color: #A52A2A;
}
.pt_vmegamenu div.column {
    border-right: 3px solid #C2B160;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
    width: 200px;
}
.pt_vmegamenu div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
.pt_vmegamenu div.itemSubMenu {
    margin-left: 15px;
}
.pt_vmegamenu .clearBoth {
    clear: both;
}
.pt_vmegamenu .block2 {
    margin-top: 10px;
}
.pt_vmegamenu #popup_home {
    display: none !important;
}
.pt_vmegamenu div.popup .block1 {
    overflow: hidden;
}
.pt_vmegamenu div.popup .block1 .column {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.pt_vmegamenu div.popup .floatleft {
    float: left;
}
.pt_vmegamenu div.popup .blockright img {
    max-width: 100%;
}
.pt_vmegamenu .parentMenu .block-title {
    color: #1E7EC8;
}
.pt_vmegamenu div.pt_ver_menu .parentMenu p {
    margin: 0;
    padding: 0;
}
.pt_vmegamenu #pt_ver_menu_link .parentMenu ul li {
    float: none;
    list-style: none outside none;
}
.pt_vmegamenu #pt_ver_menu_link .parentMenu ul li a {
    display: block;
    float: none;
    padding: 5px 10px 6px;
}
.pt_vmegamenu #pt_ver_menu_link {
    padding: 0;
    width: 195px;
}
.pt_vmegamenu .wrap-popup {
    left: 195px;
    position: absolute;
    top: 0;
    width: 920px;
}
.pt_vmegamenu .wrap-popup:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.pt_vmegamenu div.pt_ver_menu {
    padding: 0 !important;
}
